@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'oswald';
}

body p,
button,
body a,
body input {
    font-family: sans-serif;
    font-size: 15px;
}

#mobile {
    display: none;
    align-items: center;
}

.section-m1 {
    margin: 80px auto;
}

.section-p1 {
    padding: 0 130px;
}

#head {
    background-image: url(img/carousel-2.jpg);
    height: 120vh;
    background-size: auto;
    background-repeat: no-repeat;
    color: #fff;
}

#head .logo h1 {
    padding: 40px 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    background-color: rgba(0, 0, 0, 0.9);
}

nav ul li {
    list-style: none;
    padding: 27px 29px;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.red {
    color: red;
    font-family: 400;
}

#building {
    display: flex;
    width: 100%;
    max-width: 160vh;
    margin: auto;
}

.col {
    padding: 40px 50px;
    color: #fff;
    margin-top: -60px;
}

.b-red {
    background-color: rgb(204, 6, 6);
}

.b-black {
    background-color: black;
}

.col h1 {
    font-size: 35px;
    padding-bottom: 30px;
    margin-left: auto;
}


.b-red p,
.b-red h1,
.b-red button {
    text-align: right;
    margin-left: auto;

}

.col button {
    margin-top: 30px;
    display: block;
    padding: 10px 50px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

#exp {
    display: flex;
    width: 100%;
    max-width: 160vh;
    margin: 50px auto;

}

.exp-col,
.exp-col img {
    width: 100%;
    height: 70vh;
}


.exp-vectors img {
    height: 70px;
    width: auto;
}

.exp-vectors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.exp-content {
    padding: 30px 30px 0px 30px;
}

.exp-content h1 {
    font-size: 45px;
    padding-bottom: 15px;
}

.exp-content p {
    font-weight: 300;
    padding-bottom: 40px;
    font-size: 13px;
}

.exp-vectors h3 {
    font-weight: 700;
}

#exp button {
    padding: 9px 50px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid red;
    color: red;
}


#banner1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 80px;
}


.col1 img {
    height: 60px;
    margin-top: 50px;
}

.col1 {
    display: flex;
    color: #fff;
    padding: 50px 20px;
    width: 750px;
}


.col1-content {
    padding-left: 30px;
}

.col1-content p {
    font-size: 14px;
    font-weight: 300;
}


.col1-content h2 {
    padding-bottom: 20px;
    font-size: 24px;
}

.c-red {
    background-color: rgb(218, 4, 4);
}

.c-black {
    background-color: black;
}

#choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 160vh;
    margin: 70px auto;
}

#choose h3 {
    color: rgb(253, 76, 76);
}

#choose h1 {
    font-size: 35px;
    padding-bottom: 40px;
}

.choose-opt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.opt img {
    width: 250px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.opt {
    flex: 1 1 calc(50% - 20px);
    text-align: left;
    /* Align content inside opt to the left */
    display: flex;
}

.opt-content {
    margin-top: 40px;
    padding-left: 30px;
}

.choose-vect {
    position: relative;

}

.choose-vect img {
    width: 70px;
    position: absolute;
    left: -55px;
    top: 5px;
    background-color: rgb(241, 24, 24);
    padding: 10px;
}


#newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/bg.jpg);
}

#newsletter h1 {
    font-size: 42px;
}

#newsletter p {
    font-size: 16px;
    font-weight: 300;
}

#newsletter h1,
#newsletter p {
    padding-bottom: 15px;
}
